test.env


# Binaries for programs and plugins
*.exe
*.eXe~
*.dll
*.SO
*.dylib

# Test binary,built with go test -c
*.test
etc/test.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cloud-station.exe
cloud-station

# Dependency directories (remove the comment below to include it)
# vendor/